.round-checkbox {
  position: relative;
}

.round-checkbox label {
  background-color: var(--accent-white);
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 20px; /* Reduced from 28px */
  width: 20px; /* Reduced from 28px */
  position: absolute;
  top: 0;
  left: 0;
}

.round-checkbox label:after {
  border: 2px solid var(--accent-white);
  border-top: none;
  border-right: none;
  content: "";
  height: 4px; /* Reduced from 6px */
  width: 8px; /* Reduced from 12px */
  left: 5px; /* Adjusted for smaller size */
  top: 6px; /* Adjusted for smaller size */
  opacity: 0;
  position: absolute;
  transform: rotate(-45deg);
}

.round-checkbox input[type="checkbox"] {
  visibility: hidden;
}

.round-checkbox input[type="checkbox"]:checked + label {
  background-color: #0866FF;
  border-color: #0866FF;
}

.round-checkbox input[type="checkbox"]:checked + label:after {
  opacity: 1;
}
