.approver_container {
	padding-top: 30px;
  padding:0px 300px; 
}

@media (min-width: 768px) {
  .approver_container {
     padding:0px 100px;
  }
}

 

/* @media (min-width: 1280px) {
  .approver_container {
    padding-left: 300px;
    padding-right: 300px;
  }
} */
