 

 .drawer-container {
  grid-area: drawer; 
    width:0px;  
  background-color: var(--accent-white); 
  transition: right 0.3s ease-in-out;
  border-left: 1px solid rgba(28, 28, 28, 0.1);
   overflow: hidden;  
}



/* @media screen and (max-width: 1300px) {
   .drawer-container {
    right: -40%;  
  width: 40%; 
   }
}
@media screen and (max-width: 1080px) {
   .drawer-container {
    right: -50%;  
  width: 50%; 
   }
}
@media screen and (max-width: 780px) {
   .drawer-container {
    right: -70%;  
  width: 70%; 
   }
}
@media screen and (max-width: 480px) {
   .drawer-container {
    right: -100%;  
  width: 100%; 
   }
} */

.drawer-open {
  width: 420px
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.drawer-content {
  padding: 20px;
}


 
 

.edit-container svg {
  color: var(--black);
}
 