.SideBar__SideBar{
display: flex; 
}

.card_bucket_container_main_sub{
 background: var(--accent-white);
border: 1px solid rgba(0, 0, 0, 0.1);
border-bottom-right-radius:10px ;
border-bottom-left-radius:10px ;
}
.card_bucket_container_main{
padding: 32px 24px;
display: flex; 
flex-direction: column;
gap: 30px;
}
.card_bucket_container{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 24px;
	
}

.awareness_card_one{ 
box-sizing: border-box; 
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 32px 24px;
gap: 16px;
isolation: isolate; 
width: 100%;
height: 88px; 
background: var(--accent-white);
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 10px;  
}

.awareness_card_one:hover{
background-color: #1A77F2; 
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 24px; 
color: var(--accent-white); 
}
.awareness_card_two{ 
box-sizing: border-box; 
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 32px 24px;
gap: 16px;
isolation: isolate; 
width: 80%;
height: 88px; 
background: var(--accent-white);
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 10px;  
}

.awareness_card_two:hover{
background-color: #1A77F2; 
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 24px; 
color: var(--accent-white); 
}
.awareness_card_three{ 
box-sizing: border-box; 
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 32px 24px;
gap: 16px;
isolation: isolate; 
width: 60%;
height: 88px; 
background: var(--accent-white);
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 10px;  
}

.awareness_card_three:hover{
background-color: #1A77F2; 
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 24px; 
color: var(--accent-white); 
}
.awareness_card_four{ 
box-sizing: border-box; 
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 32px 24px;
gap: 16px;
isolation: isolate; 
width: 40%;
height: 88px; 
background: var(--accent-white);
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 10px;  
}

.awareness_card_four:hover{
background-color: #1A77F2; 
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 24px; 
color: var(--accent-white); 
}

.creation_card{ 
box-sizing: border-box; 
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 28px 24px;
gap: 12px;
isolation: isolate; 
width: 428px;
height: 144px; 
background: var(--accent-white);
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 10px; 
cursor: pointer;
}
.creation_card:hover{ 
	border: 1px solid var(--accent-blue);
}

.creation_continer{
	padding: 0px 56px;
}

.SideBar_state_text{ 
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 20px; 
color: #7C7C7C;  
}

.SideBar_state_text_done{ 
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 20px; 
color: var(--accent-green) !important;  
}
.SideBar_state_text_active{ 
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 20px; 
color: var(--accent-blue) !important;  
}

.SideBar_Menu_active{   
display: flex;
flex-direction: column;
	justify-content: center;
align-items: center;
padding: 8px;
gap: 8px; 
width: 32px;
height: 32px; 
background: var(--accent-blue);
border-radius: 50px;  
}
.SideBar_Menu_active_sub{   
display: flex;
flex-direction: column;
	justify-content: center;
align-items: center;
padding: 8px;
gap: 8px; 
width: 12px;
height: 12px; 
background: var(--accent-blue);
border-radius: 50px;  
margin-left: 7px
}
.SideBar_Menu_none{   
display: flex;
flex-direction: column;
	justify-content: center;
align-items: center;
padding: 8px;
gap: 8px; 
width: 32px;
height: 32px; 
background: #DCDCDC;
border-radius: 50px;  
}

.SideBar_Menu_state{
	margin-left: 1rem; 
	margin-top: 6px;
}
.SideBar_Menu_state_sub{
	margin-left: 1rem; 
	margin-top: -4px;
}

#SideBar__container{
	width: 327px !important;
}


.SideBar_state_circle{
width: 10px;
height: 10px; 
background-color: #D9D9D9;
border: 3px solid #939FAE;
border-radius: 50%;
margin-right: 7px;
}

.SideBar_state_circle_container{
	display: flex;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 10px;
}

.objective_step_text{ 
box-sizing: border-box; 
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px 12px;
gap: 6px; 
background: #EBFEF4;
border: 1px solid rgba(0, 0, 0, 0.04);
border-radius: 50px; 
z-index: 20;  
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 18px; 
color: var(--accent-green); 

}

 
.vl {
  border-left: 4px solid #D9D9D9;
  height: 35px;  
background: #DCDCDC; 
}
.vl_active {
  border-left: 4px solid var(--accent-blue);
  height: 35px;  
background: var(--accent-blue); 
}
.vl_done {
  border-left: 4px solid var(--accent-green);
  height: 35px;  
background: var(--accent-green); 
}
.vls {
  border-left: 4px solid #D9D9D9;
  height: 35px;  
background: #DCDCDC; 
margin-left: 8px;
}
.vl_actives {
  border-left: 4px solid var(--accent-blue);
  height: 35px;  
background: var(--accent-blue); 
}
.vl_dones {
  border-left: 4px solid var(--accent-green);
  height: 35px;  
background: var(--accent-green); 
}

.SideBar__state__container{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.SideBar_state_circle_text{
	color: #F0284A;
	font-size: 14px; 
	font-weight: bold;
}
.SideBar_state_circle_text_active{
	color: #2BBBA7;
	font-size: 14px; 
	font-weight: bold;
}
.SideBar_state_circle_text_active_move{
	color: #1A77F2;
	font-size: 14px; 
	font-weight: bold;
}

.coloricon{
		color: #7FC15E;
}

.vl_two{
	 border-left: 6px solid #D9D9D9;
  height: 150px;
		margin-top: 10px;
		margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
.creation_continer{
	padding: 0px 20px;
}
}

 

 
  
 
 

 

 




 




