.SideBar__SideBar{
display: flex; 
}

.delete-resizeableBar{
	position: absolute;
	right: -40px;

}

.card_bucket_container_main_sub{
 background: var(--accent-white);
border: 1px solid rgba(0, 0, 0, 0.1);
border-bottom-right-radius:10px ;
border-bottom-left-radius:10px ;
}
.card_bucket_container_main{
padding: 32px 24px;
display: flex; 
flex-direction: column;
gap: 30px;
}
.card_bucket_container{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 24px;
	
}

.awareness_card_one{ 
box-sizing: border-box; 
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 32px 24px;
gap: 16px;
isolation: isolate; 
width: 100%;
height: 88px; 
background: var(--accent-white);
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 10px;   
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 24px; 
color: #061237; 
}

.awareness_card_one_active{ 
box-sizing: border-box; 
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 32px 24px;
gap: 16px;
isolation: isolate; 
width: 100%;
height: 88px; 
color: var(--accent-white);
background: var(--accent-blue);
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 10px;  
}

.awareness_card_one:hover{
background-color: var(--accent-blue);  
color: var(--accent-white); 
}
.awareness_card_two{ 
box-sizing: border-box; 
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 32px 24px;
gap: 16px;
isolation: isolate; 
width: 80%;
height: 88px; 
background: var(--accent-white);
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 10px;  
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 24px; 
color: #061237; 
}
.awareness_card_two_active{ 
box-sizing: border-box; 
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 32px 24px;
gap: 16px;
isolation: isolate; 
width: 80%;
height: 88px; 
background: #00A36C;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 10px;  
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 24px; 
color: var(--accent-white); 
}

.awareness_card_two:hover{
background-color: #00A36C; 
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 24px; 
color: var(--accent-white); 
}
.awareness_card_three{ 
box-sizing: border-box; 
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 32px 24px;
gap: 16px;
isolation: isolate; 
width: 60%;
height: 88px; 
background: var(--accent-white);
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 10px;  
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 24px; 
color: #061237; 
}

.awareness_card_three_active{ 
box-sizing: border-box; 
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 32px 24px;
gap: 16px;
isolation: isolate; 
width: 60%;
height: 88px; 
background: #FF9037;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 10px;  
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 24px; 
color: var(--accent-white); 
}

.awareness_card_three:hover{
background-color: #FF9037;  
color: var(--accent-white); 
}
.awareness_card_four{ 
box-sizing: border-box; 
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 32px 24px;
gap: 16px;
isolation: isolate; 
width: 40%;
height: 88px; 
background: var(--accent-white);
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 10px;  
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 24px; 
color: #061237; 
}
.awareness_card_four_active{ 
box-sizing: border-box; 
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 32px 24px;
gap: 16px;
isolation: isolate; 
width: 40%;
height: 88px; 
background: #EF5407;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 10px;  
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 24px; 
color: var(--accent-white); 
}

.awareness_card_four:hover{
background-color: #EF5407;  
color: var(--accent-white); 
}

.creation_card{ 
box-sizing: border-box; 
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 28px 24px;
gap: 12px;
isolation: isolate; 
width: 428px;
height: 144px; 
background: var(--accent-white);
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 10px; 
cursor: pointer;
}
.creation_card_active{ 
box-sizing: border-box; 
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 28px 24px;
gap: 12px;
isolation: isolate; 
width: 428px;
height: 144px; 
background: var(--accent-white);
	border: 1px solid var(--accent-blue);
border-radius: 10px; 
cursor: pointer;
}

.creation_card:hover{ 
	border: 1px solid var(--accent-blue);
}

.creation_continer{
	padding: 0px 32px;
}

.SideBar_state_text{ 
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 20px; 
color: #7C7C7C;  
}

.SideBar_state_text_done{ 
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 20px; 
color: var(--accent-green) !important;  
}
.SideBar_state_text_active{ 
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 20px; 
color: var(--accent-blue) !important;  
}

.SideBar_Menu_active{   
display: flex;
flex-direction: column;
	justify-content: center;
align-items: center;
padding: 8px;
gap: 8px; 
width: 32px;
height: 32px; 
background: var(--accent-blue);
border-radius: 50px;  
}
.SideBar_Menu_active_sub{   
display: flex;
flex-direction: column;
	justify-content: center;
align-items: center;
padding: 8px;
gap: 8px; 
width: 12px;
height: 12px; 
background: var(--accent-blue);
border-radius: 50px;  
margin-left: 7px
}
.SideBar_Menu_none{   
display: flex;
flex-direction: column;
	justify-content: center;
align-items: center;
padding: 8px;
gap: 8px; 
width: 32px;
height: 32px; 
background: #DCDCDC;
border-radius: 50px;  
}

.SideBar_Menu_state{
	margin-left: 1rem; 
	margin-top: 6px;
}
.SideBar_Menu_state_sub{
	margin-left: 1rem; 
	margin-top: -4px;
}
#Sidenavbar {
  height: 90vh;  
  overflow-y: auto;  
		overflow-x: hidden !important;
		margin-bottom: 1rem;
		/* padding: 0px 10px; */
}

#Sidenavbar_active {
  height: 90vh;  
  overflow-y: auto;  
		overflow-x: hidden !important;
		margin-bottom: 1rem;
		padding: 0px 10px;
}

.client_selection_flow{
	display: flex;
 align-items: center  ;
	gap: 16px ;
}

.dropdown_button_width{
	width: 327px;
}

 
/* For small screens, use a single-column layout */
@media (max-width: 768px) {
  .client_selection_flow {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    place-items: center;
  }
}

/* For medium screens, use a two-column layout */
@media (max-width: 1080px) { 
  .client_selection_flow {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
    gap: 16px;
  }

  .dropdown_button_width {
    width: 280px;
  }
}

/* For larger screens, maintain a two-column layout */
@media (max-width: 1440px) {
  .client_selection_flow {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
    gap: 16px;
  }

  .dropdown_button_width {
    width: 280px;
  }
}
 

.SideBar_state_circle{
width: 10px;
height: 10px; 
background-color: #D9D9D9;
border: 3px solid #939FAE;
border-radius: 50%;
margin-right: 7px;
}

.SideBar_state_circle_container{
	display: flex;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 10px;
}

.objective_step_text{ 
box-sizing: border-box; 
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px 12px;
gap: 6px; 
background: #EBFEF4;
border: 1px solid rgba(0, 0, 0, 0.04);
border-radius: 50px; 
z-index: 20;  
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 18px; 
color: var(--accent-green); 

}

 
.vl {
  border-left: 4px solid #D9D9D9;
  height: 35px;  
background: #DCDCDC; 
}
.vl_active {
  border-left: 4px solid var(--accent-blue);
  height: 35px;  
background: var(--accent-blue); 
}
.vl_done {
  border-left: 4px solid var(--accent-green);
  height: 35px;  
background: var(--accent-green); 
}
.vls {
  border-left: 4px solid #D9D9D9;
  height: 35px;  
background: #DCDCDC; 
margin-left: 8px;
}
.vl_actives {
  border-left: 4px solid var(--accent-blue);
  height: 35px;  
background: var(--accent-blue); 
}
.vl_dones {
  border-left: 4px solid var(--accent-green);
  height: 35px;  
background: var(--accent-green); 
}

.SideBar__state__container{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.SideBar_state_circle_text{
	color: #F0284A;
	font-size: 14px; 
	font-weight: bold;
}
.SideBar_state_circle_text_active{
	color: #2BBBA7;
	font-size: 14px; 
	font-weight: bold;
}
.SideBar_state_circle_text_active_move{
	color: #1A77F2;
	font-size: 14px; 
	font-weight: bold;
}

.coloricon{
		color: #7FC15E;
}

.vl_two{
	 border-left: 6px solid #D9D9D9;
  height: 150px;
		margin-top: 10px;
		margin-bottom: 10px;
}


.allocate_budget_phase{
	display: flex;
}
.allocate_budget_phase_one{
	width: 50%;
}
.allocate_budget_phase_two{
	width: 50%;
}
.campaign_phases_container{
	display: flex;
	align-items: center;
}
.campaign_phases_container_one{
	width: 50%;
}
.campaign_phases_container_two{
	width: 50%;
}

.doughnut_chart_settings{
	width:243.73px ; 
	height:243.73px;
}

/* Large Devices (Laptops & Desktops) */
@media (max-width: 1536px) { 
.doughnut_chart_settings{
	width:180px ; 
	height:180px;
}

}


.doughnutcontainer{
width: 243.73px;
}

.budgetImpressions{ 
box-sizing: border-box; 
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 12px;
gap: 12px;
 
width: fit-content;
min-height: 70px;
 

background: #F0F6FF;
border: 1px solid rgba(8, 102, 255, 0.2);
border-radius: 6px;

}

.cpm_bg{ 
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 14px;
gap: 8px; 
/* width: 63px; */
height: 36px; 
background: #EFEFEF;
border-radius: 8px;  
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 20px;
color: rgba(6, 18, 55, 0.5); 

}

.reach-btn-text{ 
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
text-align: center; 
color: rgba(6, 18, 55, 0.7); 
}

.reach-btn{ 
display: flex;
flex-direction: row;
justify-content: center;
align-items: center; 
width: 18px;
height: 18px; 
background: #3175FF;
border-radius: 5px; 
color: var(--accent-white);
}

.budget_number{
width: 45px;
height: 19px; 
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 19px; 
text-align: center; 
color: #061237;  
white-space: nowrap;
}

.budget_number_btn{ 

box-sizing: border-box; 
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 10px;
gap: 8px;
width: auto;
height: 24px;
background: rgba(255, 255, 255, 0.8);
border: 1px solid rgba(49, 117, 255, 0.2);
border-radius: 8px; 

}


@media screen and (max-width: 768px) {
.creation_continer{
	padding: 0px 20px;
}
}



 

 /* Medium Devices (Small Laptops) */
@media (max-width: 1280px) { 
 .creation_card{
		width: 300px;
	}
 .creation_card_active{
		width: 300px;
	}
}

  /* Medium Devices (Small Laptops) */
@media (max-width: 1024px) { 
  /* Styles for small laptops */
		.creation_card{
		width: 420px;
	}
		.creation_card_active{
		width: 420px;
	}
}
/* Small Devices (Tablets) */
@media (max-width: 768px) { 
	.creation_card{
		width: 100%;
	}
	.creation_card_active{
		width: 100%;
	}
}
 
 

 
/* Extra Small Devices (Phones) */
@media (max-width: 480px) { 
  /* Styles for phones */
}

/* Small Devices (Tablets) */
@media (max-width: 768px) { 
  /* Styles for tablets */
}

/* Medium Devices (Small Laptops) */
@media (max-width: 1024px) { 
  /* Styles for small laptops */
}

/* Large Devices (Laptops & Desktops) */
@media (max-width: 1280px) { 
  /* Styles for larger screens */
}

/* Extra Large Devices (Big Screens) */
@media (max-width: 1536px) { 
  /* Styles for extra-large screens */
}

 




 




