 
#footer {
	grid-area: footer !important;
  display: flex;  
  width: 100%;
  background-color: var(--white);   
display: flex;
flex-direction: row;
align-items: center;
padding: 24px 40px;
gap: 5px; 
height: 80px;  
background: var(--white);
border-top: 1px solid rgba(0, 0, 0, 0.1);
}

 
/* Media query for small screens */
@media screen and (max-width: 768px) {
  .profiledropdown_text{
    display: none;
  }

  #footer { 
 display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 0px 20px;  
height: 60px;  
}
}

 

 