.add_set_Impressions{ 
box-sizing: border-box; 
display: flex; 
justify-content: center;
align-items: flex-start;
padding: 10px 12px;
gap: 12px; 
width: 102px;
height: 39px; 
background: #EBFEF4;
border: 1px solid rgba(0, 163, 108, 0.1);
box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
border-radius: 8px; 
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 19px; 
color: #00A36C;
}

.expandedAdsets{ 
box-sizing: border-box; 
display: flex;
flex-direction: row; 
/* padding: 8px 0px; */
gap: 6px;   
/* background: #F9FAFB; */
border-radius: 8px;
padding: 1px;
white-space: nowrap; 
overflow: hidden;
}