 
@import url(../css/homepage.css);
@import url(../css/header.css);
@import url(../css/button.css);
@import url(../css/table.css);
@import url(../css/SideNav.css);
@import url(../css/footer.css);
@import url(../css/creationFlow.css);
/* @import url(../css/input.css); */


@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --accent-white: #fff;
  --background: #f6f8fa;
  --photo-background: #f4f4f4;
  --accent-black: #000;
  --accent-black-two: #05162e;
  --accent-blue: #1f679d;
  --accent-background-blue: #eaf6ff;
  --second-text-color: #737373;
  --text-color: #292929;
  --underline-text: #393646;
  --text-input: #393e46;
  --accent-profile: #f8c993;
  --border-color: #e5e4e9;
  --border: #34495d;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
img,
svg {
  display: block;
  max-width: 100%;
}

ul ol {
  list-style: outside !important;
  display: block !important;
  list-style-type: disc !important;
}

input {
  font-size: 16px;
}

/* input,  */
button,
textarea,
select,
table {
  font: inherit;
  box-sizing: border-box;
  font-size: 12px;
}
@media (max-width: 1200px) {
  /* input,  */
  button,
  textarea,
  select,
  table {
    font: small;
  }
}
a {
  text-decoration: none !important;
  color: inherit;
  cursor: pointer;
}

button:active {
  border: none;
  transform: scale(0.98) !important;
}

button {
  border: none;
  transition: background-color 0.3s ease, transform 0.2s ease !important;
}

/* Scrollbar container */
::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
  height: 12px; /* Height for horizontal scrollbars */
}

/* Scrollbar track (background) */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light grey background */
  border-radius: 6px; /* Rounded corners */
}

/* Scrollbar handle (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #8888886f; /* Darker grey handle */
  border-radius: 6px; /* Rounded corners */
}

/* Hover effect on the handle */
::-webkit-scrollbar-thumb:hover {
  background: #5555559f; /* Even darker grey */
}

main {
  grid-area: main;
  overflow-y: auto; 
  width: 100%;
  padding: 32px 72px;
}

#page-wrapper {
  display: grid;
  position: relative;
  height: 100dvh;
  grid-template-columns: max-content 1fr;
  grid-template-rows: 80px 1fr;
  grid-template-areas:
    'sidenav header'
    'sidenav main'
    'sidenav footer';
}

 
 
body {
  /* font-family: Arial, Helvetica, sans-serif; */
}

 
 
@media (max-width: 1366px) and (min-width: 769px) {
  
  main {
    padding: 20px;
  }
}
@media screen and (max-width: 768px) {
 
 
}

.hide-vertical-scrollbar {
  /* overflow-y: scroll; */
  scrollbar-width: none; /* Firefox */
}
 
.hide-vertical-scrollbar::-webkit-scrollbar {
  display: none; /* WebKit */
}

 