@import url(../css/homepage.css);
@import url(../css/header.css);
@import url(../css/button.css);
@import url(../css/table.css);
@import url(../css/SideNav.css);
@import url(../css/footer.css);
@import url(../css/creationFlow.css);
@import url(../css/Checkbox.css);
@import url(../css/Impressions.css);
@import url(../css/CommentsDrawer.css);
@import url(../css/client.css);


@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes slide-up {
  0% { transform: translateY(100%); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

@keyframes slide-down {
  0% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(100%); opacity: 0; }
}

.animate-slide-up {
  animation: slide-up 0.5s ease-out forwards;
}

.animate-slide-down {
  animation: slide-down 0.5s ease-out forwards;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --accent-white: #fff;
  --background: #F9FAFB;
  --photo-background: #f4f4f4;
  --accent-black: #000;
  --accent-black-two: #05162e;
  --accent-blue: #0866FF;
  --accent-green: #0ABF7E;
  --accent-background-blue: #eaf6ff;
  --second-text-color: #737373;
  --text-color: #292929;
  --underline-text: #393646;
  --text-input: #393e46;
  --accent-profile: #f8c993;
  --border-color: #e5e4e9;
  --border: #34495d;
  --gray-light: #8F8F8F;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
img,
svg {
  display: block;
  max-width: 100%;
}

ul ol {
  list-style: outside !important;
  display: block !important;
  list-style-type: disc !important;
}

input {
  font-size: 16px;
}

/* input,  */
button,
textarea,
select,
table {
  font: inherit;
  box-sizing: border-box;
  font-size: 12px;
}
@media (max-width: 1200px) {
  /* input,  */
  button,
  textarea,
  select,
  table {
    font: small;
  }
}
a {
  text-decoration: none !important;
  color: inherit;
  cursor: pointer;
}

button:active {
  border: none;
  transform: scale(0.98) !important;
}

button {
  border: none;
  transition: background-color 0.3s ease, transform 0.2s ease !important;
}

/* Scrollbar container */
::-webkit-scrollbar {
  width: 2px !important; /* Width of the scrollbar */
  height: 8px; /* Height for horizontal scrollbars */
}

/* Scrollbar track (background) */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light grey background */
  border-radius: 6px; /* Rounded corners */
}

/* Scrollbar handle (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #8888886f; /* Darker grey handle */
  border-radius: 6px; /* Rounded corners */
}

/* Hover effect on the handle */
::-webkit-scrollbar-thumb:hover {
  background: #5555559f; /* Even darker grey */
}

main {
  grid-area: main;
  overflow-y: auto; 
  width: 100%;
  padding: 32px 72px;
}

#mains {
  grid-area: mains;
  overflow-y: auto; 
  width: 100%;
  padding: 32px 0px;
}

#page-wrapper {
  display: grid;
  position: relative;
  height: 100dvh;
  grid-template-columns: max-content 1fr;
  grid-template-rows: 80px 1fr;
  grid-template-areas:
    'sidenav header'
    'sidenav main'
    'sidenav footer';
}
#page-wrapper-flow {
  display: grid;
  position: relative;
  height: 100dvh;
  grid-template-columns: max-content 1fr;
  grid-template-rows: 40px 1fr;
  grid-template-areas:
    'sidenav header-flow drawer'
    'sidenav main drawer'
    'sidenav footer drawer';
}
#page-wrapper-client {
  display: grid;
  position: relative;
  height: 100dvh;
  grid-template-columns: max-content 1fr;
  grid-template-rows: 70px 1fr;
  grid-template-areas:
    'sidenav client_header drawer'
    'sidenav main drawer'
    'sidenav footer drawer';
}

 
 
 

 
 
@media (max-width: 1366px) and (min-width: 769px) {
  
  main {
    padding: 0px 20px !important;
  }
}
@media screen and (max-width: 768px) {
 
   main {
    padding: 0px 20px !important;
  }
}

.hide-vertical-scrollbar {
  /* overflow-y: scroll; */
  scrollbar-width: none; /* Firefox */
}
 
.hide-vertical-scrollbar::-webkit-scrollbar {
  display: none; /* WebKit */
}

 .entries-perpage-container{
  color: #5c5c5c;
  display: flex;
  align-items: center;
  /* white-space: nowrap ; */
}

.entries-perpage-container select { 
  color: #5c5c5c ;
  margin-left: 5px ;
  margin-right: 5px ;
  background-color: var(--white) ;
  padding: 5px ;
  border-radius: 3px ;
  outline: none ;
  border: 0 ;
  border: 1px solid #cfcfcf ;
  transition: all 0.3s ease-out ;
  -webkit-transition: all 0.3s ease-out ;
  white-space: nowrap ;
 
}
.entries-perpage {
  color: var(--text); 
  display: flex;
  align-items: center;  
}
  .entries-perpage select { 
 color: var(--text) ; 
  background-color: var(--white) ;
  padding: 5px ;
  border-radius: 3px ;
  outline: none ;
  border: 0 ;
  border: 1px solid var(--form-border);
  transition: all 0.3s ease-out ;
  -webkit-transition: all 0.3s ease-out ; 
}  
.entries-perpage select:focus {
  border: 1px solid var(--accent-blue);
  box-sizing: 0 0 3px var(--black);
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}

@media only screen and (max-width: 1220px) { 

.entries-perpage {
  color: var(--gray-light); 
  white-space: nowrap ; 
  justify-content: center;
}

}



#table-loader { 
  color: var(--gray-light); 
  padding-top: 5rem  ;
  padding-bottom: 5rem ;   
}
#table-loader p {
  color: var(--gray-light);
}


.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;  
}


.l-shape-container {
  position: relative;
}

.l-vertical {
  position: absolute;
  width: 1px;
  height: 56px;
  background-color: blue;
  left: 60px;
  top: -55px;
}

.l-horizontal {
  position: absolute;
  width: 70px;
  height: 1px;
  background-color: blue;
  bottom: -1px;
  left: 60px;
}
.l-shape-container-ad {
  position: relative;
}

.l-vertical-ad {
  position: absolute;
  width: 1px;
  height: 56px;
  background-color: blue;
  left: 0px;
  top: -55px;
}

.l-horizontal-ad {
  position: absolute;
  width: 50px;
  height: 1px;
  background-color: blue;
  bottom: -1px;
  left: 0px;
}
